* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

body>div {
    padding-top: 59px;
}

nav {
    height: 59px;
    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    font-size: 16px;
}

nav div a {
    color: black;
    text-decoration: none;
    height: 100%;
    text-align: center;
    padding: 18px 16px;
    overflow: hidden;
}

nav div {
    display: flex;
}

nav div:hover {
    background-color: gray;
}

header {
    height: 450px;
    border: 1px solid black;
    padding-top: 59px;

    background-image: url(background.png);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #EBF90A;
    font-style: italic;

}

header button {
    border: 0px;
    background-color: white;
    border-radius: 10px;
    width: 284px;
    height: 61px;

    transition: 1s;
}

header button:hover {
    transform: scale(1.2);
    background-color: grey;
}

#disciplines {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
}

.disciplines_head {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.disciplines_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding-top: 60px;
}

.card_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding-top: 30px; 
}

.card_box>div {
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.25);
    border-radius: 10px;

    padding: 15px;
}

.card_box>div>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card_box>div>div>div{
    padding-top: 15px;
}

.card_box>div>div>div:nth-child(1) {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.card_box>div>div>div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

#random_text {
    height: 409px;
    border: 1px solid black;
}

img {
    width: 221px;
    height: 204px;
}

#calc {
    height: 499px;
    border: 1px solid black;
}

footer {
    height: 51px;
    border: 1px solid black;
}