* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

body>div {
    padding-top: 53px;
}

nav {
    background-color: rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    width: 100vw;

    display: flex;
    justify-content: center;

    font-size: 16px;
}

nav div a {
    color: black;
    text-decoration: none;
    height: 100%;
    text-align: center;
    padding: 18px 16px;
    overflow: hidden;
}

nav div {
    display: flex;
}

nav div:hover {
    background-color: gray;
}

header {
    height: 450px;

    background-image: url(background.png);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #EBF90A;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

header button {
    border: 0px;
    background-color: white;
    border-radius: 10px;
    width: 284px;
    height: 61px;

    transition: 1s;
}

header button:hover {
    transform: scale(1.2);
    background-color: grey;
}

#disciplines {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
}

.disciplines_head {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.disciplines_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding-top: 60px;
}

.card_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding-top: 30px;
    flex-wrap: nowrap;
}

.card_box>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.25);
    border-radius: 10px;

    padding: 15px;
}

.card_box>div:hover {
    background-color: #EDE1E1;
}

.card_box>div>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card_box>div>div>div {
    padding-top: 15px;
}

.card_box>div>div>div:nth-child(1) {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.card_box>div>div>div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

#random_text {
    background: linear-gradient(#B6EAF7, #CDE33C);
    display: flex;
    flex-direction: column;
    padding-left: 158px;
    padding-right: 158px;
    padding-bottom: 114px;
}

.promo {
    display: flex;
}

.head_promo {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    padding-bottom: 42px;
}

.promo_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

img {
    width: 221px;
    height: 204px;
}

#calc {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 30px;
}

.calc_head {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;

    margin-bottom: 30px;
}

form {
    border: thick double black;
    background-color: #C4C4C4;
    border-radius: 10px;

    width: 400px;
    height: 346px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

form>input {
    height: 36px;
    width: 300px;
    margin: 19px 50px;

    background-color: #FFFFFF;
    border: 0px;
}

.calc_panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calc_panel>div {
    width: 100px;
    height: 35px;
    background-color: white;

    margin: 9px 11px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calc_panel>div:hover {
    background-color: grey;
    user-select: none;
}

footer {
    height: 51px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav div {
        flex-direction: column;
    }

    .back {
        height: calc(54px*3);
    }

    header>h1 {
        text-align: center;
        font-weight: 700;
        font-size: 27px;
        line-height: 49px;
    }

    #disciplines{
        margin: 0px;
    }

    .card_box {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #random_text{
        padding: 10px;
    }

    .promo{
        flex-direction: column-reverse;
        align-items: center;
    }

    form{
        width: 320px;
        height: 525px;
    }    
    
    .disciplines_head{
        
    }

    .head_promo,
    .calc_head{
        font-size: 27px;
    }
}